<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WYPurchaserMainViewController</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>section</key>
				<integer>0</integer>
				<key>UICollectionViewCell</key>
				<string>PurMainCycleViewAdvCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>advInfo</string>
				<key>desc</key>
				<string>顶部轮播图、和其他轮播图不复用（轮播器定时器+闪屏问题）</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>1</integer>
				<key>UICollectionViewCell</key>
				<string>PurMenuBarCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string>PurYcbBuyNewsRView</string>
				<key>identifier</key>
				<string>funcBarInfo</string>
				<key>desc</key>
				<string>功能菜单</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>2</integer>
				<key>UICollectionViewCell</key>
				<string>PurchasrLunboAdvCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>goldAdvInfo</string>
				<key>desc</key>
				<string>单张广告</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>3</integer>
				<key>UICollectionViewCell</key>
				<string>PurScrollHorizontallyCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>specialAdvInfo</string>
				<key>desc</key>
				<string>单张广告下的横向滚动列表</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>4</integer>
				<key>UICollectionViewCell</key>
				<string>PurTbzgAdvCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>tbzgAdv&amp;hotShopAdv&amp;lowPriceStockAdv</string>
				<key>desc</key>
				<string>淘宝直供</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>5</integer>
				<key>UICollectionViewCell</key>
				<string>PurchasrBestProductsAdvCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>bestProductsAdv</string>
				<key>desc</key>
				<string>精品推荐广告位，横向滚动列表</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>6</integer>
				<key>UICollectionViewCell</key>
				<string>PurchasrLunboAdvCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>lunboAdv</string>
				<key>desc</key>
				<string>精品推荐广告位下方-轮播广告位</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>7</integer>
				<key>UICollectionViewCell</key>
				<string>PurMenuBarCell</string>
				<key>UICollectionSectionHeader</key>
				<string>PurCommonTitleHeaderRView</string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>topCategory</string>
				<key>desc</key>
				<string>人气分类</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>8</integer>
				<key>UICollectionViewCell</key>
				<string>PurchaserGoodShopCollectionViewCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>shopRecmd</string>
				<key>desc</key>
				<string>单个商铺推荐</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>9</integer>
				<key>UICollectionViewCell</key>
				<string>PurchaserProjectCollectionViewCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>shopSpecial</string>
				<key>desc</key>
				<string>商铺专题</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>10</integer>
				<key>UICollectionViewCell</key>
				<string>PurchaserProjectCollectionViewCell</string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
				<key>identifier</key>
				<string>productSpecial</string>
				<key>desc</key>
				<string>产品专题</string>
			</dict>
			<dict>
				<key>section</key>
				<integer>11</integer>
				<key>UICollectionViewCell</key>
				<string>PurchaserTuiJianCollectionViewCell</string>
				<key>UICollectionSectionHeader</key>
				<string>PurCommonTitleHeaderRView</string>
				<key>UICollectionSectionFooter</key>
				<string>PurRecommendFooterRView</string>
				<key>identifier</key>
				<string>guessYouLike</string>
				<key>desc</key>
				<string>为你推荐</string>
			</dict>
		</array>
		<key>sections</key>
		<integer>12</integer>
	</dict>
	<key>Example</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>section</key>
				<integer>0</integer>
				<key>UICollectionViewCell</key>
				<string></string>
				<key>UICollectionSectionHeader</key>
				<string></string>
				<key>UICollectionSectionFooter</key>
				<string></string>
			</dict>
		</array>
		<key>sections</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
